/* Home Page Styling */
body {
  
    background-image: url("https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-11-23/41215b90-2d79-11eb-9dcd-8b2ef5358591.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
  }
  #home-links{
    word-spacing: 100px; 
    padding-left: 600px;
  }
  
  
  
  #home-title{
    text-align: center;
    color: #639898;
    Font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  .search-box{
    margin: auto;
    width:100%;
    height: 200%;
    padding:10px;
    box-sizing: border-box;
    border-radius:4px;
    border: .5px solid;
    margin: 15px 0;
    font-size: 15px;
    display: flex;
    justify-content: center;

  }
  .top{
    margin-top: 200x;
  }
  .label-search{
    font-size: 20px;

  }
  .submit{
    width:100%;
    padding:10px;
    margin: 10px 0;
    border-radius: 4px;
    border:none;
    background-color: rgb(118, 203, 176);
    font-size:20px;
    cursor:pointer;

  }

  #search-header{
    text-align: center;
    font-size: 30px;
  }

  .Home-header{
    margin: auto;
    background:rgb(79, 75, 105);
    max-width: 500px;
    padding: 10px;
    border-radius:4px; 
    color:rgb(220, 211, 199);
    
  }

  #login-btn{
  background-color: #04aa39;
  border-radius: 5px;

  margin: 8px 0;
  border: black;
  cursor: pointer;
  
  }
  
  a {
    color: rgb(208, 195, 201);
  }
  
 

  #business-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resturant-cover{
  width: 350px; 
  height: 300px;
  border: 2px solid #3f3f32;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.each-res {
background-color: rgb(220, 211, 199);
width: 350px;
margin: 20px; 
display: flex;
flex-direction: column;
align-items: center;
border-radius: 12px;
border: 2px solid #3f3f32;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.resturant-title {
font-size: 20px;
margin: 5px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resturant-rating{
font-size: 16px;
margin: 5px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#login {
  border: 3px solid #f1f1f1;
 
}

/* Full-width inputs */
#logininput[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#ps {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Add padding to containers */
.rgcontainer {
  padding: 16px;
}

/* Full-width input fields */
#reglog{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}








  
  
  
  
 
  
  
  
  
  
  
  
  

  
 
  